.site-nav {
    display: flex;
    justify-content: space-around;
}

.site-nav ul,
.site-nav ul li a {
    text-decoration: none;
    list-style-type: none;

}

.nav-left {
    padding: 2em 4em;
    display: flex;
    gap: 1em;
}

.nav-right {
    padding: 1.5em 5em;
    display: flex;
    gap: 1em;
}

