.match-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.field-image {
    position: relative;
}

.field-image img {
    max-width: 385px;
    filter: brightness(50%);
    cursor: pointer;
}


.score {
    font-size: 3em; 
    font-weight: bold;
    transition: 0.5s ease-in;
    color: #fff;
    font-style: italic;
}

.score:hover {
    font-size: 5em;
    color: #fff;
}


.team-name {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.75em;
}

.field-players {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: center;
}

.row.player-fw {
    margin-top: 150px;
}

.player {
    color: #fff;
    padding: 0.5em;
}

.player::before {
    content: ""; 
    display: block; 
    width: 10px; 
    height: 10px; 
    background-color: red; 
    border-radius: 50%; 
    position: relative;
    top: 3%; 
    right: -31px; 
    transform: translateY(-50%); 
}

.player-gk {
    order: 4;
}

.player-df {
    order: 3;
}

.player-mf {
    order: 2;
}

.player-fw {
    order: 1;
}