@media (max-width: 1270px) {
    .match-details-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }

    .tournament-container {
        order: 2;
    }

    .second-half-groups {
        order: 1; 
    }
}


@media (max-width: 875px) {
    .match-details-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .site-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-left, .nav-right {
        flex-direction: column;
       
    }

    .tournament-container {
        order: 1;
    }

    .second-half-groups {
        order: 2; 
    }

    .tournament-container {
        flex-direction: column;
    }

  
}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .tournament-container {
        flex-direction: column;
    }

    .tournament-container {
        order: 2;
    }

    .second-half-groups {
        order: 1; 
    }

}